In [1]:
import pandas as pd
df = pd.read_csv("C:/Users/newmo/Desktop/Bootcamp Data/Curso/Temario/Modulo_3/Scripts, APIs, Streamlit/airbnb2/data/listings_preparado.csv")

In [2]:
df

,id,name,host_id,host_name,neighbourhood,latitude,longitude,room_type,price,minimum_nights,...,review_scores_communication,review_scores_checkin,review_scores_rating,maximum_nights,listing_url,host_is_superhost,host_about,host_response_time,host_response_rate,listing_url.1
0,11508,Condo in Buenos Aires · ★4.81 · 1 bedroom · 1 ...,42762,Candela,Palermo,-34.581840,-58.424150,Entire home/apt,64.1331,3,...,4.97,4.91,4.81,1125,https://www.airbnb.com/rooms/11508,t,-,within an hour,100.0,https://www.airbnb.com/rooms/11508
1,14222,Rental unit in Palermo/Buenos Aires · ★4.79 · ...,87710233,María,Palermo,-34.586170,-58.410360,Entire home/apt,32.2056,7,...,4.90,4.81,4.79,100,https://www.airbnb.com/rooms/14222,t,"Soy Organizadora de Eventos, me gusta relacion...",within an hour,100.0,https://www.airbnb.com/rooms/14222
2,15074,Rental unit in Buenos Aires · 1 bedroom · 1 be...,59338,Monica,Nuñez,-34.538920,-58.465990,Private room,28.3527,29,...,NaN,NaN,NaN,730,https://www.airbnb.com/rooms/15074,f,NaN,NaN,NaN,https://www.airbnb.com/rooms/15074
3,16695,Loft in Buenos Aires · ★4.28 · 1 bedroom · 1 b...,64880,Elbio Mariano,Monserrat,-34.614390,-58.376110,Entire home/apt,47.2527,2,...,4.80,4.83,4.28,1125,https://www.airbnb.com/rooms/16695,f,"I was borned in Tucuman, but I live in Buenos ...",within an hour,100.0,https://www.airbnb.com/rooms/16695
4,20062,Rental unit in Buenos Aires · ★4.93 · 2 bedroo...,75891,Sergio Damian,Palermo,-34.581848,-58.441605,Entire home/apt,96.2658,2,...,4.92,4.94,4.93,365,https://www.airbnb.com/rooms/20062,t,"Soy Sergio, vivo en Buenos Aires, y me gusta r...",within an hour,96.0,https://www.airbnb.com/rooms/20062
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
29292,985617215327136942,Rental unit in Buenos Aires · ★New · 1 bedroom...,9950131,Victoria,Palermo,-34.588500,-58.413560,Entire home/apt,30.2427,3,...,NaN,NaN,NaN,365,https://www.airbnb.com/rooms/985617215327136942,f,NaN,NaN,NaN,https://www.airbnb.com/rooms/985617215327136942
29293,985646171568232193,Rental unit in Buenos Aires · ★New · 1 bedroom...,21427846,Brico,Almagro,-34.605769,-58.425495,Entire home/apt,17.2854,2,...,NaN,NaN,NaN,365,https://www.airbnb.com/rooms/985646171568232193,f,.,within an hour,100.0,https://www.airbnb.com/rooms/985646171568232193
29294,985655156094686700,Rental unit in Buenos Aires · ★New · 1 bedroom...,44168030,Dana,Palermo,-34.584897,-58.415725,Entire home/apt,21.1707,2,...,NaN,NaN,NaN,365,https://www.airbnb.com/rooms/985655156094686700,NaN,Tenemos +95 deptos temporarios en Buenos Aires...,within an hour,100.0,https://www.airbnb.com/rooms/985655156094686700
29295,985661189947878803,Rental unit in Buenos Aires · ★New · 1 bedroom...,259100837,Julia,Retiro,-34.595230,-58.379630,Entire home/apt,18.9027,1,...,NaN,NaN,NaN,365,https://www.airbnb.com/rooms/985661189947878803,f,NaN,within an hour,100.0,https://www.airbnb.com/rooms/985661189947878803
29296,985661520707875805,Rental unit in Buenos Aires · ★New · Studio · ...,247780350,Fernando,San Nicolas,-34.602902,-58.389862,Entire home/apt,29.0223,1,...,NaN,NaN,NaN,730,https://www.airbnb.com/rooms/985661520707875805,t,"I do ad ops at a marketing agency, I study soc...",within an hour,100.0,https://www.airbnb.com/rooms/985661520707875805

In [3]:
from pycaret.regression import *

In [4]:
df.columns

Index(['id', 'name', 'host_id', 'host_name', 'neighbourhood', 'latitude',
       'longitude', 'room_type', 'price', 'minimum_nights',
       'number_of_reviews', 'last_review', 'reviews_per_month',
       'calculated_host_listings_count', 'availability_365',
       'number_of_reviews_ltm', 'license', 'property_type', 'accommodates',
       'first_review', 'review_scores_value', 'review_scores_cleanliness',
       'review_scores_location', 'review_scores_accuracy',
       'review_scores_communication', 'review_scores_checkin',
       'review_scores_rating', 'maximum_nights', 'listing_url',
       'host_is_superhost', 'host_about', 'host_response_time',
       'host_response_rate', 'listing_url.1'],
      dtype='object')

In [5]:
df_pred = df.copy()
df_pred_new = df_pred[["neighbourhood","accommodates", "property_type", "room_type", "price", "minimum_nights", "maximum_nights" ]]

In [6]:
df_pred_new.head()

,neighbourhood,accommodates,property_type,room_type,price,minimum_nights,maximum_nights
0,Palermo,2,Entire condo,Entire home/apt,64.1331,3,1125
1,Palermo,2,Entire rental unit,Entire home/apt,32.2056,7,100
2,Nuñez,1,Private room in rental unit,Private room,28.3527,29,730
3,Monserrat,4,Entire loft,Entire home/apt,47.2527,2,1125
4,Palermo,4,Entire rental unit,Entire home/apt,96.2658,2,365

In [7]:
setup = setup(df_pred_new, target = "price")

In [8]:
best = compare_models()

In [9]:
ridge = create_model("ridge")

In [10]:
tuned_ridge = tune_model(ridge)

Processing:   0%|          | 0/7 [00:00<?, ?it/s]

Fitting 10 folds for each of 10 candidates, totalling 100 fits

In [11]:
evaluate_model(tuned_ridge)

interactive(children=(ToggleButtons(description='Plot Type:', icons=('',), options=(('Pipeline Plot', 'pipelin…

In [12]:
final_ridge_best = finalize_model(tuned_ridge)

In [13]:
save_model(tuned_ridge, "ml_airbnb")

Transformation Pipeline and Model Successfully Saved

(Pipeline(memory=Memory(location=None),
          steps=[('numerical_imputer',
                  TransformerWrapper(include=['accommodates', 'minimum_nights',
                                              'maximum_nights'],
                                     transformer=SimpleImputer())),
                 ('categorical_imputer',
                  TransformerWrapper(include=['neighbourhood', 'property_type',
                                              'room_type'],
                                     transformer=SimpleImputer(strategy='most_frequent'))),
                 ('onehot_encoding',
                  Transfo...ype'],
                                     transformer=OneHotEncoder(cols=['room_type'],
                                                               handle_missing='return_nan',
                                                               use_cat_names=True))),
                 ('rest_encoding',
                  TransformerWrapper(include=['neighbourhood', 'property_type'],
                                     transformer=TargetEncoder(cols=['neighbourhood',
                                                                     'property_type'],
                                                               handle_missing='return_nan'))),
                 ('trained_model',
                  Ridge(alpha=9.91, fit_intercept=False, random_state=7560))]),
 'ml_airbnb.pkl')